body {
    margin: 0;
}

#site_title {
    margin: 0;
    padding: 10px 0 10px 0;
    font-family: sans-serif;
    font-size: 24px;
    text-align: center;
    color: #ffffff;
    background-color: red;
}

.red{
    color: red;

}

#container {
    display: flex;
    flex-direction: row;
}

.contents {
    width: 70%;
    margin: 5px 0 5px 0;
}

.sidebar {
    width: 20%;
    margin: 10px 0 10px 0;
}

.sidebar ul {
    margin: 0px;
    padding: 0 10px 0 10px;
}

.sidebar li {
    display: block;
    margin: 0px 0px 5px 0px;
    padding: 5px 5px 5px 5px;
    border-right: solid 2px #cccccc;
    background-color: #eeeeee;
}

.sidebar a {
    color: #444444;
    text-decoration: none;
}